@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@layer components {
  .scrollbar-light::-webkit-scrollbar-thumb {
    background: #d0d0d0;
  }

  .scrollbar-light::-webkit-scrollbar-thumb:hover {
    background: #bbb;
  }

  .scrollbar-dark::-webkit-scrollbar-thumb {
    background: #080808;
  }

  .scrollbar-dark::-webkit-scrollbar-thumb:hover {
    background: #0d0d0d;
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated-text span {
  transition: opacity 0.1s linear;
  opacity: 0;
}

.animated-text span.visible {
  opacity: 1;
}

/* width */
@media screen and (max-width: 640px) {
  .page-scrollbar::-webkit-scrollbar {
    width: 0px !important;
  }
}

.page-scrollbar::-webkit-scrollbar {
  width: 15px;
}

/* Track */
.page-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
